.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 88vh;
}
.add-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.add-button {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-container {
  margin-bottom: 16px;
}

.tag-select {
  width: 100%;
}

.notes-heading {
  font-size: 20px;
  margin-bottom: 8px;
}

.notes-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.note-item {
  border: 1px solid #ddd;
  margin: 15px;
  padding: 10px;
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.tag-input {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .notes-list {
    display: block;
  }

  .note-item {
    width: 100%;
  }
}