.main-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background-color: #e0f7fa; 
}
.main-content{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 88vh;
  margin-top: 60px;
  height: auto;
}
.main-content button:hover{
  opacity: 88%;
}
.main-content button:active{
  opacity: 98%;
}

.add-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-button {
  background-color: #1976d2; 
  color: white;
  padding: 15px;
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-container {
  margin-bottom: 16px;
  text-transform: capitalize;
}

.tag-select {
  width: 100%;
}

.notes-heading {
  font-size: 20px;
  margin-bottom: 8px;
  color: #388e3c; 
}

.notes-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.note-item {
  margin: 15px;
  padding: 10px;
  width: 250px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #e8f5e9; 
}
.tag-input {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

.tag {
  background-color: #43a047; 
  color: white;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 12px;
}

.edit-button,
.show-button {
  background-color: #1976d2; /* Dark blue */
  color: white;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
}


@media screen and (max-width: 768px) {
  .notes-list {
    display: block;
  }

  .note-item {
    width: 100%;
  }
}
