.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #95f3ff;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    height: 13vh;
    padding: 0px 70px;
  }
  .navbar-right img{
    height: 100%;
    width: 100%;
    border-radius:50%;
  }
  .navbar a{
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .navbar a h3{
    font-size: 26px;
    color: rgb(78, 78, 78);
  }
  .navbar a h3 span{
    color: #858585;
  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .profile-image {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .profile-name {
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
  }
  
  .navbar button {
    background-color: #4cacaf;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
  }